@import "tailwindcss";

:root {
  --bg: 12 12 12;        /* near-black */
  --fg: 245 245 245;     /* near-white */
  --muted: 170 170 170;  /* grey */
  --accent: 255 122 0;   /* orange */
}

html, body {
  height: 100%;
}

body {
  color: rgb(var(--fg));
  background: rgb(var(--bg));
}
